[general]
host = 0.0.0.0
port = 5001
plugins = openstack_generic,external_api
debug = True
retries = 5

[openstack_generic]
key_pair = /home/asperathos/.ssh/asperathos_key
retries = 30

[monasca]
monasca_endpoint = https://url.com
username = user
password = password
project_name = projname
auth_url = https://auth-url.com
api_version = 2_0

[external_api]
metric_source = cpu
get_metric_endpoint = cpu-quota
threshold = 0.5
k8s_manifest = /home/user/.kube/config
